.section-title-en {
  margin-bottom: 50px;
  padding-right: 20px;
  position: relative;
  display: inline-block;
  color: var(--second-color);
}

.section-title-en::after {
  content: '';
  display: block;
  width: 50%;
  height: 5px;
  background: var(--button-color); 
  position: absolute;
  bottom: -20px; 
  left: 0;
}

.container-title-en{
  font-size: 25px;
  margin: 0;
  padding: 10px 0;
  color: white;
}



@media (max-width: 868px) {
  .section-title-en {
    font-size: 1.1rem;
  }

  .section-title-en::after{
    height: 3px;
  }

  .container-title {
    font-size: 10px;
  }
}

