@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

:root{
  --main-color:#002412;
  --second-color:#8c6e3a;
  --button-color:#977437;
  --background-color:#0a2919;
  --text-color:#ab823b;
  --button-color:#977437;
  --main-gradient:linear-gradient(90deg, #00120a 0%, #021d10 50%, #00130a);
}




body {
  margin: 0;
  font-family: "Tajawal", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body:lang(ar), 
body :lang(ar) {
  direction: rtl;
}


body:lang(en), 
body :lang(en) {
  direction: ltr;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1{
  font-size: 45px;
  color: #efefef;
}

h2{
  font-size: 35px;
  color: #efefef;
}

h3{
  font-size: 25px;
  color: #efefef;
}

p{
  font-size: 15px;
  ccolor: #efefef;
}

a{
  text-decoration: none;
  color: #efefef;
}

button{
  padding: 10px 20px ;
  font-size:15px;
  cursor: pointer;
  background-color: var(--button-color);
  border: none;
  color: #fffcff;
}

button:hover{
  background-color: #604c2b;
}

@media (max-width: 920px) {
  
}